.homelogo img {
    width: 30px;
    padding: 5px;
}

.homelogo {
    background-color: #e0bc00;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 25px;
}

.outgoods {
    width: 33.3%;
    padding: 2%;
    // position: relative;
}

.goods {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px #f6f6f6;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.goods img {
    width: 50%;
}

.goods div {
    display: flex;
    justify-content: center;
}

.nogoods img {
    width: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.baseline img {
    width: 6%;
    margin: 0 9px;
    position: relative;
    bottom: 2px;
}

.baseline {
    font-size: 13px;
    color: #858484;
    text-align: center;
    margin-top: 15px;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    opacity: 0.3;
    // left: 0;
    // top: 0;
    z-index: 5;
}

.masktop {
    transform: translate(-70%,-50%);
    position: fixed;
    top: 50%;
    margin: 0 auto;
    left: 50%;
    z-index: 15;
}

.maskrout {
    width: 140%;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.maskrow1 {
    border-bottom: 1px solid #858484;
    padding: 0 5px 15px 5px;
}
.maskrow2{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
}
.maskrow2 div:first-child{
    color: #0486ff;
    margin-left: 20px;
}